body{
    margin: 0;
}

/*-------------------HEADER------------------*/
.header {
    display: flex;
    flex-direction: row;
    background:-moz-radial-gradient(circle at 3% 25%, #702632 0%, #0B090A 25%, #000000 100%);
    background:-webkit-radial-gradient(circle at 3% 25%, #702632 0%, #0B090A 25%, #000000 100%);
    background:-o-radial-gradient(circle at 3% 25%, #702632 0%, #0B090A 25%, #000000 100%);
    background:-ms-radial-gradient(circle at 3% 25%, #702632 0%, #0B090A 25%, #000000 100%);
    background:radial-gradient(circle at 3% 25%, #702632 0%, #0B090A 25%, #000000 100%);
}

.header_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.header_content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 100px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #fff;
    margin: 0;
    margin-left: 25px;
    line-height: 0;
    animation: glitch1 2.5s infinite;
}

.header_content h1:nth-child(2){
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.header_content h1:nth-child(3){
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}

.header_content h2{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 80px;
  color: #fff;
  margin-left: 40px;
}

.header_content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: var(--color-text);
    color: #fff;
    margin-left: 50px;
}

.header_image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
}

.header_image:hover{
  filter: drop-shadow(0 2px 5px #fff)
}

.header_image img {
    width: 100%;
    height: 100%;
}

/*Animaciones de texto*/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

/*------------------------WhatsApp--------------------------*/
.whatsapp {
  display:block;
  width:70px;
  height:70px;
  position: fixed;
  right:20px;
  bottom:20px;
}

/*Responsive*/
@media screen and (max-width: 1512px){
  .header_content h1{
    font-size: 90px;
  }
}

@media screen and (max-width: 1374px){
  .header_content h1{
    font-size: 80px;
  }

  .header_content h2{
    font-size: 25px;
  }

  .header_content p{
    font-size: 25px;
  }
}

@media screen and (max-width: 1236px){
  .header_content h1{
    font-size: 70px;
  }

  .header_content h2{
    font-size: 23px;
  }

  .header_content p{
    font-size: 23px;
  }
}

@media screen and (max-width: 1198px){
  .header_content h1{
    font-size: 65px;
  }

  .header_content h2{
    font-size: 21px;
  }

  .header_content p{
    font-size: 21px;
  }
}

@media screen and (max-width: 1198px){
  .header_content h1{
    font-size: 60px;
  }

  .header_content h2{
    font-size: 20px;
  }

  .header_content p{
    font-size: 20px;
  }
}

@media screen and (max-width: 987px){
  .header_content h1{
    font-size: 55px;
  }

  .header_content h2{
    font-size: 18px;
  }

  .header_content p{
    font-size: 18px;
  }
}

@media screen and (max-width: 890px){
  .header_content h1{
    font-size: 45px;
  }

  .header_content h2{
    margin-top: 40px;
    font-size: 15px;
  }

  .header_content p{
    margin-top:-5px;
    font-size: 15px;
  }

  .header_image{
    margin-top: -100px;
  }
  
  .header_image img{
   margin-top: 20px;
  }
}

@media screen and (max-width: 752px){
  .header_content h1{
    font-size: 40px;
  }

  .header_content h2{
    font-size: 13px;
  }

  .header_content p{
    font-size: 13px;
  }
}

@media screen and (max-width: 683px){
  .header_image {
    display: none;
  }

  .header_content{
    margin-top: 30px;
  }
}

@media screen and (max-width: 650px) {
    .header_content h1 {
        font-size: 48px;
    }

    .header_content p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .header_content h1 {
        font-size: 39px;
    }

    .header_content p {
        font-size: 14px;
        line-height: 24px;
    }
}