.pages{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 5px;
}

.pages_container{
    display: flex;
    flex-direction: row;
}

.logo{
    margin-right: 25px;
}

.logo img{
    width: 400px;
}

.register{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pages h1,
.register h1{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 25px 25px;
    cursor: pointer;

    display: inline-block;
    position: relative;

}

.pages_container h1,
.pages_container h1::after,
.pages_container h1::before,
.register_container h1,
.register_container h1::after,
.register_container h1::before{
    transition: all .5s;
}

.pages_container h1
.register_container h1{
    position: relative;
}

.pages_container h1::after,
.register_container h1::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -5px;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 2px;
}

.pages_container h1:hover::after,
.register_container h1:hover::after{
    width: 100%;
}

.register button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #702632;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 25px;
}

.register button:hover{
    border-color: white;
}